//Navigation bar styling
.navbar-brand
{
  font-size: 1.5rem;
}

html {
  background: url(images/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.register{
  margin : 6% 10% 10% 10%;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  float: right;
  background-color: #343a40;
  border-radius: 5px;
}

.register-form{
  margin: 15px;
}

.register-form-row{
  margin: 25px 10px 30px 10px;
  margin-left : 2px;
}

.btn-success{
  width : 100% !important;
  height : 40px;
}

.search-input{
  text-align: center;
  margin-left : 5px;
  width : 450px;
}

.search-result{
  border: 1px solid black;
  width : 400px;
  margin : 30px;
}


.search-group{
  background-color : #212529;
  color : #f2f2f2;
  height: 100vh;
  overflow-y: auto;
  max-height: 800px;
  overflow-x: hidden;
}

.book-results{
  width : 70%;
}
