{% extends "layout.html" %}

{% block title %}
  Home-BookReview
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BookReview</a>
      </div>
      <form action="{{ url_for('login') }}" class="nav navbar-nav navbar-right" method="post">
        <input style="margin:10px; border-radius : 3px; border : none;" type="text" name="userid" placeholder="Enter your userid">
        <input style="margin:10px; border-radius : 3px; border : none;" type="password" name="password" placeholder="Enter your password">
        <button style="margin : 10px; color: #fff; background-color: #0074d9; border-radius: 3px; border : 0px;">Login</button>
      </form>
    </div>
  </nav>
  <div class="register">
    <h3 style="color:#f2f2f2; margin-top : 5px;"><center>Sign Up</center></h3>
    <div class="register-form">
      <form action="{{ url_for('register')}}" method="post">
        <div class="form-group">
          <input class="form-control register-form-row" name="userid" placeholder="Enter your userid">
          <input class="form-control register-form-row" name="password" type="password" placeholder="Enter your password">
          <input class="form-control register-form-row" name="email" placeholder="Enter your email">
          <input class="form-control register-form-row" name="mobileno" type="number" placeholder="Enter your number">
          <center><button class="btn btn-success">Create User</button></center>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
